/* =================== Home Page Styles =================== */

main.home-page {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
	padding: 100px;
	border: 1px $bc solid;
	border-radius: 4px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0 10px #eee;

	.title {
	  font-size: 2rem;
	  margin-bottom: 1rem;

	  span {
		font-size: 1rem;
		color: #aaa;
	  }
	}

	.description {
	  line-height: 2;
	  margin-bottom: 1rem;
	}

	.links {
	  display: flex;
	  justify-content: center;
	  align-items: center;

	  li a {
		height: 45px;
		width: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin: 0 10px;
		color: #fff;
		@include transition();

		&:hover,
		&:focus,
		&:active {
		  box-shadow: 0 0 0 3px #ddd;
		}
	  }
	}
  }
}

main.profile-page {

  .welcome {
	width: 50%;
	margin: 100px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px #ddd solid;
	border-radius: 5px;
	text-align: center;

	span.user {
	  color: $info-color;
	}
  }
}
