/* =================== Forms Elements Styles =================== */

input,
textarea {
  width: 100%;
  border: 1px $bc solid;
  padding: 10px;
  font: inherit;
  border-radius: 4px;
  outline: none;
  @include transition();

  &:focus {
    border-color: $main-color;
    box-shadow: 0 0 0 3px lighten($main-color, 40);
  }
}

textarea {
  height: 300px;
  min-height: 300px;
  resize: vertical;
}

button {
  font: inherit;
  border-radius: 4px;
  padding: 5px 30px;
  cursor: pointer;
  background-color: $main-color;
  color: #fff;
  border: 1px solid darken($main-color, 10);
  box-shadow: 3px 3px 0 0 lighten($main-color, 30);
  @include transition();

  &:hover,
  &:active {
    box-shadow: none;
    background-color: darken($main-color, 10);
  }
}

