/* =================== Main Styles =================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $main-font;
  font-size: 1.2rem;
  color: $text-color;
  line-height: 1.5;
}

ul, ol, li {
  list-style: none;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px #ddd solid;
  cursor: pointer;

  &.alert-success {
    background-color: lighten($success-color, 10);
    border-color: $success-color;
    color: #fff;
  }

  &.alert-danger {
    background-color: lighten($danger-color, 10);
    border-color: $danger-color;
    color: #fff;
  }
}
