/* =================== Main Styles =================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: $main-font;
  font-size: 1.2rem;
  color: $text-color;
  line-height: 1.5;
}

ul, ol, li {
  list-style: none;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 15px 20px;
  background-color: #eee;
  border-bottom: 1px #ddd solid;
  cursor: pointer;

  &.alert-success {
    background-color: #d4edda;
    border-color: #1557245e;
    color: #155724;
  }

  &.alert-danger {
    background-color: #f8d7da;
    border-color: #721c245e;
    color: #721c24;
  }
}
