// Colors variables
$main-color: #3498db;
$secondary-color: #34495e;
$dark-color: #222;
$bg-color: #fafafa;
$text-color: #444;
$bc: #ddd; // Border Color

$success-color: #198754;
$info-color: #0dcaf0;
$warning-color: #ffc107;
$danger-color: #dc3545;

// Fonts variables
$main-font: "OpenSans";